# https://yarnpkg.com/getting-started/qa/#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.poetry/

dist/
lib/
build/
coverage/
node_modules/
.turbo/
*.zip
*-*.log

.env.local
.env.development.local
.env.test.local
.env.production.local

.deploy-config/


synapse_deploy/**/.terraform/*


synapse_deploy/*.tfstate
synapse_deploy/*.tfstate.*


synapse_deploy/crash.log
synapse_deploy/crash.*.log


synapse_deploy/*.tfvars
synapse_deploy/*.tfvars.json


synapse_deploy/override.tf
synapse_deploy/override.tf.json
synapse_deploy/*_override.tf
synapse_deploy/*_override.tf.json


synapse_deploy/.terraformrc
synapse_deploy/terraform.rc

synapse_deploy/.terraform.lock.hcl
synapse_deploy/terraform.tfvars
*.tfvars
*.sh


transparency_engine-0.1.0-py3-none-any.whl

